# Ignore compiled JavaScript files

# Ignore compiled TypeScript declaration files
*.d.ts

# Ignore node_modules directory
node_modules/

# Ignore Visual Studio Code configuration
.vscode/

# Ignore project-specific configuration (adjust if necessary)
tsconfig.json
tsconfig.tsbuildinfo

# Ignore package-lock.json for npm
package-lock.json

# Ignore yarn.lock for Yarn
yarn.lock

# Ignore editor-specific files
.idea/
*.suo
*.user
*.sln

# Ignore macOS system files
.DS_Store

# Ignore Windows thumbnail cache files
Thumbs.db
